@charset "UTF-8";
@import "less/bootstrap.less";
@import "datepicker3.less";
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,latin-ext);
body{
  background: #446DAC;
  font-family: 'PT Sans';
}
/*Landing*/
.login_form{
  -webkit-box-shadow: 17px 22px 26px -6px rgba(39,62,96,1);
  -moz-box-shadow: 17px 22px 26px -6px rgba(39,62,96,1);
  box-shadow: 17px 22px 26px -6px rgba(39,62,96,1);
  float:none !important; 
  .jumbotron;
  .make-xs-column(4);
  margin: 20px auto 0 auto;
  padding: 20px !important;
  .login_logo {
    height: 100px;
    margin-bottom: 15px;
    text-align: center;
    img {
      margin: 0 auto;
      max-height:100px;
    }
  }
  form{
    label{
      .make-xs-column(4);
      margin-top:13px;
    }
    input{
      .make-xs-column(7);
      margin-top:13px;
    }
    button{
      .btn;
      .btn-primary;
      margin-right:15px;
      .pull-right;
    }
  }
}

/*Mapa*/
#map {
  float: left;
  height: 600px;
  margin-top: 5px;
  width: 100%;
}

/*Formulario de Busqueda*/
.busqueda {
  background: none repeat scroll 0 0 #fff;
  margin-top: 58px;
  padding-top: 10px;
  div{
    padding-right: 0px;
  }
  button{
    float:left;
    height: 34px;
    margin-left: 5px;
  }
  .loading {
    float: left;
    margin-top: -8px;
    width: 50px;
    img{
      display: none;
    }
  }
  .boton_capturar {
    float: right;
    margin-right: 5px;
  }
}

/*Reportes*/
.reporte {
  background: none repeat scroll 0 0 #fff;
  position: relative;
  top: 55px;
}
.primer_boton{
  float:left;
  margin-bottom: 25px;
  width:100%;
}
.ultimo_boton{
  float:left;
  margin-bottom:50px;
  margin-top:25px;
  width:100%;
}
.select_nodo {
  clear: none;
  float: right;
  font-size: 14px;
  margin-right: 25px;
  padding-top: 10px;
  width: 600px;
}



//Archivos
.archivos_cont{
  padding-bottom:50px;
}
.conf{
  display:none;
  margin-top: 25px;
}
.loading{
  width: 200px;
  img{
    display: none;
  }
}

.no_cobertura,.poste {
  bottom: 0;
  display: none;
  position: absolute;
  right: 10px;
  z-index: 9999;
}
.cobertura {
  bottom: 0;
  display: none;
  position: absolute;
  right: 10px;
  z-index: 9999;
}

.ui-widget-content{
  z-index: 9999 !important;
}
h4{
  color: #446DAC;
}

.colonias_list{
  float:left;
  list-style:none;
  margin: 0;
  padding: 0;
  width:100%;
  li {
    border-top: 1px solid #000;
    float: left;
    line-height: normal;
    padding: 1%;
    width: 20%;
    font-size: 12px;
    height: 50px;
  }
}

.footable-filtering{
  .btn{
    height: 35px;
  }
}