.col-md-6 input{
	width: 370px;
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
}

.flexigrid table tr.hDiv th div.desc {
	background:url(images/ddn.png) no-repeat center top;
}
.flexigrid table tr.hDiv th div.asc {
	background:url(images/uup.png) no-repeat center top;
}

.flexigrid .pReload {
	background:url(images/claro.png) no-repeat center;
	background-size:45px 45px;
}
.pReload.loading{
	background:url(images/ajax_loader_red_32.gif) no-repeat center;
	background-size:45px 45px;
}
.simple-loading{
	background:url(images/ajax_loader_red_32.gif) no-repeat center;
	background-size:45px 45px;
	display:block;
	float:left;

}
.ajax_refresh_and_loading{
	width: 55px;
	height: 55px;
	margin: auto;
}

.pager li input{
	text-align: center;
	width: 50px;
}