@charset "UTF-8";
@import "../less/bootstrap.less";
@import "../less/bootswatch.less";
/*Main info**/
a,a:hover{
    text-decoration:none;
}
body{
    background: url('../../_img/bg.png');
    line-height:normal;
    padding-top: 70px;
}
/*Landing*/
.login_form{
    .jumbotron;
    .make-xs-column(7);
    float:none;
    margin: 0 auto;
    .login_logo {
        height: 100px;
        margin-bottom: 15px;
        text-align: center;
        img {
            height:100px;
        }
    }
    form{
        label{
            .make-xs-column(4);
        }
        input{
            margin-top:13px;
            .make-xs-column(7);
        }
        button{
            .btn; 
            .btn-primary;
            .pull-right;
            margin-right:33px;
        }
    }
}
//Mapa General
#map{
    .make-xs-column(12);
    height:800px;
}
.notification {
    display:none;
    position: fixed;
    right: 5px;
    top: 55px;
    z-index: 99;
    a{
        font-weight:bold;
    }
}
//Estilo para el centro de las paginas
.central{
    .panel;
    padding:25px;
}
//Clases del detalle
.detalle_container{
    .container;
    //Mapa del detalle
    #mapa {
        height: 300px;
        .make-xs-column(8);
    }
    .detalle{
        .make-xs-column(4);
    }
    .linea{
        .make-xs-column(12);
        margin-bottom:10px;
    }
}
li.media {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 10px;
}
.media a{
    .timeago {
        color: #AAAAAA;
        float: left;
        font-size: 9px;
        margin-top: 3px;
    }
}
.agregar_comentario{
    .well;
    .well-sm;
    .clearfix();
    img {
        float: left;
    }
    textarea {
        float: left;
        font-size:12px;
        height: 75px;
        margin-bottom: 15px;
        margin-left: 15px;
        padding: 5px;
        width: 975px;
        &::-webkit-input-placeholder { color:#aaa; font-size:12px; }
        &::-moz-placeholder { color:#aaa; font-size:12px; } /* firefox 19+ */
        &:-ms-input-placeholder { color:#aaa; font-size:12px; } /* ie */
        &:-moz-placeholder { color:#aaa; font-size:12px; }
    }
}
